#first{
    background-color: aqua;
}
#second{
    background-color: rgb(45, 8, 214);
    color: white;
    font-family: sans-serif;
    font-style: italic;
    
}
.red{
    background-color: red;
    color: white;
    
}
.green{
    background-color: green;
    color: aqua;
}